body {
    background-color: #f8f9fa;
}

.card {
    border-radius: 10px;
}

.card-header {
    font-size: 1.2rem;
    font-weight: bold;
}

#total_info {
    font-size: 1rem;
    font-weight: bold;
    background: #f1f1f1;
}
